<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pokedex-by-smv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>661207691E76F99700AD32D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>661207801E76F99800AD32D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6612078B1E76F99800AD32D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
